<h1>My portfolio</h1>
<br />
<div class="row text-center">
  <div class="col-sm-4">
    <div class="hover">
      <a>
        <img
          src="/assets/img/portrait/2.JPG"
          alt=""
          class="mx-auto d-block img-fluid"
          style="height: 500px"
        />
      </a>
      <div class="overlay" routerLink="/portrait">
        <div class="text">PORTRAIT</div>
      </div>
    </div>
    PORTRAIT
  </div>
  <div class="col-sm-4">
    <div class="hover">
      <a>
        <img
          src="/assets/img/couple/2.JPG"
          alt=""
          class="mx-auto d-block img-fluid"
          style="height: 500px"
        />
      </a>
      <div class="overlay" routerLink="/couple">
        <div class="text">COUPLE</div>
      </div>
    </div>
    COUPLE
  </div>
  <div class="col-sm-4">
    <div class="hover">
      <a>
        <img
          src="/assets/img/event/2.JPG"
          alt=""
          class="mx-auto d-block img-fluid"
          style="height: 500px"
        />
      </a>
      <div class="overlay" routerLink="/event">
        <div class="text">EVENT</div>
      </div>
    </div>
    EVENT
  </div>
</div>
<br />
<router-outlet />
