<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ service }}</mat-card-title>
        <mat-card-subtitle>{{ price }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ img }}" alt="Photo" height="300px" width="300px" style="object-fit: cover; display: block; margin-left: auto ; margin-right: auto;" />
    <mat-card-content>
      <br>
        <p>
            {{ description }}
        </p>
    </mat-card-content>
</mat-card>
