<div class="row text-center">
  <h2>EVENT</h2>
  <div class="col-sm-3">
    <img
      src="/assets/img/event/1.JPG"
      alt=""
      class="mx-auto d-block img-fluid"
    />
  </div>
  <div class="col-sm-3">
    <img
      src="/assets/img/event/2.JPG"
      alt=""
      class="mx-auto d-block img-fluid"
    />
  </div>
  <div class="col-sm-3">
    <img
      src="/assets/img/event/3.JPG"
      alt=""
      class="mx-auto d-block img-fluid"
    />
  </div>
  <div class="col-sm-3">
    <img
      src="/assets/img/event/4.JPG"
      alt=""
      class="mx-auto d-block img-fluid"
    />
  </div>
</div>
<br />
<button mat-raised-button routerLink="/portfolio">
  <mat-icon>arrow_back_ios</mat-icon>Back
</button>
