<table>
  <tr>
    <td class="avatar">
      <img src="assets/img/couple/1.JPG" alt="" class="img-fluid" style="border-radius: 50%; width: 100px; height: 100px; object-fit: cover;">
    </td>
    <td>
      <h5>Tram and Long</h5>
      <i class="feedback-text">We love that the photoshoot is so authentic but also aesthetic</i>
    </td>
  </tr>
  <tr>
    <td>
      <img src="assets/img/portrait/1.JPG" alt="" class="img-fluid" style="border-radius: 50%; width: 100px; height: 100px; object-fit: cover;">
    </td>
    <td>
      <h5>Jowita</h5>
      <i class="feedback-text">Tina did a great job! I am in love with the portraits she took (now they are all over my social media profiles haha). I feel awkward in front of the camera and don't really know how to pose, but Tina instructed me throughout the process, which made it much easier for me and created amazing outcomes!</i>
    </td>
  </tr>
</table>
