mat-card {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  display: block;
  width: 100%;
}

.contact-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
