<h1>Booking</h1>
<br />
<mat-card>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h2>Contact me</h2>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter your name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        formControlName="message"
        placeholder="Enter your message"
        rows="4"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!contactForm.valid"
    >
      Send
    </button>
  </form>
  <br />
  <div class="contact-footer">
    <table>
      <tr>
        <p>Got questions, or want to explore options?</p>
        <p>I'm more than happy to get in touch!</p>
      </tr>
      <tr>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      <tr>
        <td>huynhnhtram07&#64;gmail.com</td>
        <td>+32 491 1842 82</td>
      </tr>
    </table>
  </div>
</mat-card>
