/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "bootstrap/dist/css/bootstrap.css";

:root {
  --background: #f9faf5;
  --text: #3b3a30;
  --secondary: #b2c2bf;
  --third: #c0ded9;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Playwrite VN", serif;
}

html, body {
  font-family: "Lexend Deca", serif;
  font-weight: 300;
  background-color: var(--background);
  color: var(--text);
}
